body {
  margin: auto;
  padding: 70px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-image: url("drawing-tigers-aesthetic-6-transparent.png");
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-position: center; 
  background-color: orange;
  text-align: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: red;
  border-radius: 12px;
}

input {
  background-color: sandybrown;
  padding: 10px;
  color: black;
  border-radius: 12px;
}